
/*-----------------------------------------
 GLOBAL EFFECT
----------------------------------------- */
a {
	@include transition("color .5s linear, background-color .5s linear")
}
/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */ 
.uppercase_font_style {
	line-height: 24px;
	font-size: 13px;
	letter-spacing: 1px; 
	text-transform: uppercase; 
}
.next-previous {
	display:none;
}
/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */
h1,h2,h3 {
 font-weight: normal;
} 
h4 {
  line-height: $baseLineHeight;
  font-size: $baseFontSize - 2;
	@extend .uppercase_font_style;
  small {
    @extend .uppercase_font_style;
  }
} 

/*-----------------------------------------
   OVERWRITTE
----------------------------------------- */

/*-----------------------------------------
   STRUCTURE
----------------------------------------- */ 
.container-fluid {
 	max-width: 980px;
 	@include box-sizing(border-box);
 	@include center-block;
}
#main-container {
	padding-bottom: $baseLineHeight;
	background: $containerColor;
}
.page-title {
   padding-top: $baseLineHeight;
   padding-bottom: $baseLineHeight; 
}
.html-text {
    padding-top: $baseLineHeight;
    padding-bottom: $baseLineHeight;
}
/*-----------------------------------------
 HEADER
----------------------------------------- */ 
.navbar { 
	margin-bottom: 0;
	border-top:6px solid $white;
	.header-top {
		float: right;
		.nav {
			background: $white; 
		}
		.nav > li > a {
			@extend .uppercase_font_style; 
			color: $gray;
			font-size: 10px;
			text-shadow: none;
			&:hover {
				color: $black;
			};
		} 
	}
	.nav-collapse {
		.nav > li > a {
			@extend .uppercase_font_style;
			padding: 5px 0 5px;  
		}
	}
} 
.navbar {
	.brand {
		padding: 0;
		a {
			float: left;
			margin: 20px 0 20px 20px;
			background: transparent image-url("logo.png") center center no-repeat;
			background-size: contain;
			cursor: pointer;
			text-decoration: none;
			display: block;
			@include size(108px,220px);
			@include hide-text;
		}
	}
}

/*-----------------------------------------
   FOOTER
----------------------------------------- */
#footer-container {
    background-color: #2b2b2b;
}
#footer {
	.nav > li > a {
		font-size: 11px; 
		@extend .uppercase_font_style; 
	}
} 
/*-----------------------------------------
   COYPRIGHT
----------------------------------------- */ 
#copyright-container {
  font-size: 9px; 
  padding-top: $baseLineHeight;
  padding-bottom: $baseLineHeight;
  a.copyright-author {
  	background-image: asset-url("gko/logo_gecko_white.png", image) left center no-repeat; 
  	padding-left: 24px;
    padding-top: 0;
    padding-bottom: 0;
  	font-size: 9px;
  	float:right;
  } 
}

/*-----------------------------------------
   GRID
----------------------------------------- */
.grid > li {
	.thumbnail {
		border: none;
		padding: 0;
		line-height: $baseLineHeight;
		@include border-radius(0);
		.image {
			text-align: left;
		}
		.title { 
			font-size: 18px;
			line-height: $baseLineHeight;
		}
		.details {
			span {
				font-weight: bold;
				color: $themeColor;
			}
		}
		.links {
			display: none;
		}
	}
}
/*-----------------------------------------
   BLOG
----------------------------------------- */
#sidebar {
    padding-top: $baseLineHeight;
    padding-bottom: $baseLineHeight;
}
#blog-atom-feed {
	display: none;
}
/*-----------------------------------------
   HOME
----------------------------------------- */ 
body#home {
	.carousel, .services {
		margin-top: $baseLineHeight;
	}
} 
/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */

