$baseFontFamily: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
$baseFontColor: #ccc;
$baseColor: #ccc;
$bodyBackground: #121212;
$altColor: #0FABDE;//blue
$linkColor: #ccc;
$linkColorHover: #fff; 
