/*
*= require_self
******/

/*-------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
$baseFontFamily: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif; 
$baseFontColor: #ccc;
$baseColor: #ccc;
$bodyBackground: #121212;
$altColor: #0FABDE;//blue
$linkColor: #ccc;
$linkColorHover: #fff;


$containerColor: #1f1f1f;
$navBarHeight: 36px;

@import "gko/gko_public_all";
@import "gko/elastislide";

/*-----------------------------------------
   Shared Styles
----------------------------------------- */ 
.uppercase_font_style {
	line-height: 24px;
	font-size: 13px;
	letter-spacing: 1px; 
	text-transform: uppercase; 
}
/* Not compatible with dropdown */
.menu_vertical {
	//overflow: hidden;
	clear:both;
	float: none;
	text-align: left;
	ul.menu {
		float: left;
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: visible;
		a { line-height: 4px; }
		li.first-level {
			clear: both;
			float: left;
			display: block;
			margin: 0;
			&:first-child { 
				padding-left: 0;
				background: none; }
		}
	}
}
/* Not compatible with dropdown */
.menu_center {
	overflow: hidden;
	clear:both;
	float: none;
	text-align: center;
	ul.menu {
		float: left;
		position: relative;
		left: 50%;
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: visible;
		@extend .uppercase_font_style; 
		li.first-level {
			float: left;
			position: relative;
			right: 50%;
			display: block;
			margin: 0;
			padding: 0 0 0 48px;
			&:first-child { 
				padding-left: 0;
				background: none; }
		}
	}
}
h1 {
font-size: 26px;
font-size: 2.6rem;
}
/*-----------------------------------------
   STRUCTURE
----------------------------------------- */
	
.wrapper-wide {
 @include container;
 background: $bodyBackground; 
}
.wrapper-content {
 @include row;
 background: $containerColor; 
}
#main-content{
 @include column(12);
 margin-top:$baseLineHeight * 2;
}
#main-content.sidebar {
 @include column(8);
}
#sidebar{ 
 @include column(4);
 margin-top:$baseLineHeight * 2; 
}
#wrapper-wide-main {
 
}
#wrapper-wide-footer {
	text-align: center;
	font-size: 12px;
}
#masterhead {
	background:$altColor;
	border-top:6px solid $white;
	.wrapper-content-inner {
		float:right;
		
		background-color: $white;
		padding:4px;
		display: inline-block;
		width:auto; 
	}
}
 
ul#locales {
	a { @include link-colors($altColor, $grayDark, $grayDark);}
}
/*-----------------------------------------
   Header
----------------------------------------- */
#header {
	background: $altColor;
} 

#site-title-container {
	float: left;
	position:relative;
	margin: 20px 0 20px 20px;
	@media only screen and (max-width: 767px) {
		float: none !important; 
	}  
}
h2#site-title {
	@include logo(220px, 108px);
	float: none;
	margin: 0 auto !important;
	
}
#primary-menu {
	clear: none !important;
	margin: 0 100px 0 0;
	padding: 8px 0 9px 0;
	float: right;
	position:relative; 
	.nav-bar {
		@include vertical-nav-bar;
		@extend .uppercase_font_style;
		float: left;
		margin-left: 8px;
		a {
			color: white;  
			@include link-colors(white, $containerColor, $containerColor);
		}   
	}
	
	@media only screen and (max-width: 767px) {
		padding: 0;
		margin: 0; 
		width:100%;
		float: left; 
		ul.menu {
			width:100%;
			text-align: center;
			li { 
				border-top: 0px;
				border-bottom: 1px solid white;
				&:first-child {
					border-top: 1px solid white;
				}
				&.active {
					background: $containerColor;
					color: $white;
					> a {
						@include link-colors($white, $white, $white);
					}
				}
			}
			a { 
				padding: 10px 20px 10px 20px;
				@include link-colors($white, $containerColor, $containerColor);
			}
		}
	}
}

.html_text {
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
	@media only screen and (max-width: 767px) {
		padding: 0;
	}
}
/*-----------------------------------------
   Footer
----------------------------------------- */ 
#footer { 
	margin-top: 60px;
	border-top: 1px solid #1e1e1e;
	padding-top:12px;
	background: transparent;
	h3 {
		@extend .uppercase_font_style;
	}
}
#pipe-menu {
	@extend .menu_center;
	ul.menu {
		@extend .uppercase_font_style;
		text-transform: capitalize;
		font-style: italic;
		letter-spacing: 0px;
	}
}
.site_infos {
 @include row;    
}
#site_by {
 background-image: asset-url("gko/logo_gecko_white.png", image); 
}
/*-----------------------------------------
   Home
----------------------------------------- */
body#home {
	.row.featured {
		.content {
			height: 300px;
		}
		.infos {
			background: #37bef0;
			background-color: rgba(55, 190, 240, 0.7);
			position:absolute;
			bottom: 0;
			left: 100px;
			right: 100px;
			padding: 12px;
			h1 { 
				font-size: 22px;
				color:white;
			}
			h3 { 
				font-size: 16px;
				color:white;
			}  
		}
	}
	.row.services {
		margin-top: 14px;
		margin-bottom: 14px;
		max-width: 940px;
		h3 { color:$altColor; font-size: 22px;}
		.details {
			span {
				font-weight: bold;
				color: $altColor;
			}
		}
	} 
} 
.orbit-bullets li {
background: asset-url("foundation/orbit/bullets_wonb.jpg", image) no-repeat 4px 0;
}

